[client]
port = {MYSQL_PORT}
socket = /var/run/mysql/mysqld.sock

[mysqld]
port = {MYSQL_PORT}
socket = /var/run/mysql/mysqld.sock
user = {MYSQL_USER}
datadir = /var/lib/mysql
skip-networking = 0
skip-bind-address
